<form action="{{url_for('formreturns')}}" method="POST">
    <label for="name">Имя:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="phone">Телефон:</label><br>
    <input type="text" id="phone" name="phone"><br>
    <label for="email">Почта:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="quest">Квест:</label><br>
    <input type="text" id="quest" name="quest"><br>
    <label for="date">Дата:</label><br>
    <input type="text" id="date" name="date"><br>
    <label for="time">Время:</label><br>
    <input type="text" id="time" name="time"><br>
    <label for="guest_num">Количество человек:</label><br>
    <input type="text" id="guest_num" name="guest_num"><br>
    <label for="price">Цена на сайте:</label><br>
    <input type="text" id="price" name="price"><br>
    <label for="franchise">Франшиза:</label><br>
    <input type="text" id="franchise" name="franchise"><br>

    <input type="submit"/> 
    </form>

