{% extends "base_admin.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('.static', filename='update_franchise.css')}}" />

<div class="container-fluid px-4">
    <div class="row my-1">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="p-1 mb-2">
                <h3 class="fs-4">Информация о франшизе</h3>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="card bg-white shadow-sm rounded">
            <div class="card-body">
                <form class="needs-validation form-signin" method="post" novalidate>                                                   
                    {% for cat, msg in get_flashed_messages(True) %}                                       
                    <div class="form-label-group">
                        <div class="alert alert-{{cat}} alert-dismissible fade show" role="alert">
                            {{ msg }}    
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                        
                        </div>
                    </div>                                      
                    {% endfor %} 
                    </br>                            
                    <div class="form-label-group">                                        
                        <input type="text" id="city" name="city" class="form-control"  placeholder="City" autocomplete="off" value="{{franchise.Franchises.city}}" required>
                        <label for="city">Город</label>
                        <div id="city-validation" class="invalid-feedback">Заполните это поле</div>                                    
                    </div>  
                    <div class="form-label-group">                                        
                        <input type="text" id="lastName" name="lastName" class="form-control"  placeholder="Last Name" autocomplete="off" value="{{franchise.Users.last_name}}" required>
                        <label for="lastName">Фамилия</label>
                        <div id="lastname-validation" class="invalid-feedback">Введите корректную фамилию (кириллица без пробелов)</div>                                    
                    </div>                                            
                    <div class="form-label-group">                                        
                        <input type="text" id="firstName" name="firstName" class="form-control"  placeholder="First Name" autocomplete="off" value="{{franchise.Users.first_name}}" required>
                        <label for="firstName">Имя</label>
                        <div id="firstname-validation" class="invalid-feedback">Введите корректное имя (кириллица без пробелов)</div>                                    
                    </div>                                           
                    <div class="form-label-group">                                        
                        <input type="text" id="patronymic" name="patronymic" class="form-control"  placeholder="Patronymic" autocomplete="off" value="{{franchise.Users.patronymic}}" required>
                        <label for="patronymic">Отчество</label>
                        <div id="patronymic-validation" class="invalid-feedback">Введите корректное имя (кириллица без пробелов)</div>                                    
                    </div>                                            
                    <div class="form-label-group">                                        
                        <input type="email" id="email" name="email" class="form-control"  placeholder="Email address" autocomplete="off" value="{{franchise.Users.email}}" required>
                        <label for="email">Адрес электронной почты</label>
                        <div id="email-validation" class="invalid-feedback">Введите корректный адрес электронной почты</div>                                       
                    </div>                                        
                    <div class="form-label-group">                                        
                        <input type="tel" id="phone" name="phone" class="form-control"  placeholder="Phone number" autocomplete="off" value="{{franchise.Users.phone}}" pattern= required>
                        <label for="phone">Номер телефона</label>
                        <div id="phone-validation" class="invalid-feedback">Введите номер по типу: 89134785678</div>                                       
                    </div>                                             
                    <!-- <div class="form-label-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="{{franchise.Users.password_hash}}" required>
                        <label for="password">Пароль</label>
                        <div class="invalid-feedback">Заполните это поле</div>                                        
                    </div> -->
                    <div class="form-label-group d-flex justify-content-end">
                        <button type="submit" class="btn btn-color-1 m-2" name="submit" value="update">Изменить</button>   
                        <button type="submit" class="btn btn-color-2 m-2" name="submit" value="delete">Удалить</button>       
                    </div>                      
                </form>
            </div>                  
        </div>
    </div>
</div>


<script src="./static/update_franchise.js"></script>




{% endblock %}